.box {
	display: block;
  min-height: 50px;
  padding: 5px;
  margin: 5px;
<<<<<<< HEAD
  font-weight: 300;
=======
  font-weight: 800;
>>>>>>> 2d5100787f252cddc85ed5d341fe3548348b22fb
}

.skyblue {
  background: deepskyblue;
}

.purple {
  background: rebeccapurple;
}

.red {
  background: indianred;
}

.viz {
  width: 100%;
}

.TinyHeader {
  text-align: center;
}

.navbar-brand {
  background: deepskyblue;
}

@media (max-width: 480px) {
  /*.viz {
  width: 125%;
  }*/

